* {
  @apply m-0 p-0 box-border;
}

body {
  @apply bg-primary font-montserrat;
}

.center {
  @apply flex justify-center items-center;
}

.contain {
  @apply flex items-center max-w-[1350px] mx-auto;
}

.image-container {
  @apply flex justify-center gap-4;
}

/* .img-slice {
  @apply w-[200px] h-96  bg-cover bg-no-repeat rounded-lg shadow-lg bg-[url("./assets/images/lawyer.jpg")];
}

.slice1 {
  clip-path: inset(0 66.6% 0 0);
}

.slice2 {
  clip-path: inset(0 33.3% 0 33.3%);
}

.slice3 {
  clip-path: inset(0 0 0 66.6%);
} */
